{% extends "base.html" %}

{% block title %} New password reset form {% endblock %}

{% include "navbar.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-offset-3 col-md-7">

            <h3>Password Form</h3>

            {% if error %}
                <div class="alert alert-danger" role="alert"> {{ error }}</div>
            {% endif %}

            {% if message %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}

            {% from "_formhelpers.html" import render_field %}

                <form method="POST" action="{{ url_for('password_app.change_password') }}" role="form">
                    {{ form.hidden_tag() }}

                    {{ render_field(form.current_password, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                    {{ render_field(form.confirm, class="form-control") }}

                    <button id="new_password" submit="type" class="btn btn-primary">Save new password</button>
                </form>
        </div>
    </div>

{% endblock %}
