{% extends "users/mail/base.html" %}


{% block body %}

    Hi {{ user.username.title() }},

    We have received your request to reset your password.

    To reset your password, please click on this link

    {{ config.HOSTNAME }}/password/reset/{{ user.username }}/{{ user.change_configuration.password_reset_code }}

    If you need initial this link please contact the "The social network team immediately"


    {% if user.change_configuration.confirmation_code %}
        We notice that you have not yet confirmed your email address. Because of this you will not be able to
        change your current password until your have confirmed your email address

        Please use the confirmation link below to confirm your email before click on the reset link

    {% endif %}

{% endblock%}