{% extends "base.html" %}
{% block title %} Registration {% endblock %}
{% include "navbar.html" %}

{% block content %}
    <div class="row">
        
        <div class="col-md-offset-3 col-md-6"> <h3>Registration Page</h3> </div>
        <div class="col-md-offset-3 col-md-6">
            
            {% from "_formhelpers.html" import render_field %}

            <form method="POST" action="{{ url_for('registration_app.register') }}" role="form">

                {{ form.hidden_tag() }}

                {{ render_field(form.first_name, class="form-control") }}
                {{ render_field(form.last_name, class="form-control") }}

                {{ render_field(form.username, class="form-control") }}
                {{ render_field(form.email, class="form-control") }}

                {{ render_field(form.password, class="form-control") }}
                {{ render_field(form.confirm, class="form-control") }}

                <button id="register_button" type="submit" class="btn btn-primary">Register</button>

            </form>
        </div>
    </div>

{% endblock %}
