<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if session.username %}
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                      @{{ session.username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('profile_app.profile', username=session.username) }}">View profile</a></li>
                        <li><a href="{{ url_for('edit_app.edit') }}">Edit profile</a></li>
                        <li><a href="{{ url_for('password_app.change_password') }}">Change password</a></li>
                        <li><a href="{{ url_for('profile_app.profile_friends', username=session.username) }}">See all my friends</a></li>
                        <li><a href="{{ url_for('relationship_app.get_all_friend_requests', page=1) }}">
                            Pending friend requests
                        </a>
                        </li>
                        <li><a href="{{ url_for('relationship_app.get_all_blocked_people', page=1) }}">Blocked list</a></li>


                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('logout_app.logout') }}" class="navbar-link">Logout</a></p>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('login_app.login') }}" class="navbar-link">Login</a></p>
                </li>
                <li>
                    <a href="{{ url_for('registration_app.register') }}" class="navbar-link">Register</a></p>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
