{% extends "base.html" %}

{% block title %}User Login {% endblock %}
{% include "navbar.html" %}

{% block content %}


<div class="row">
    
    <div class="col-md-offset-3 col-md-6 heading-login-page"> <h3>Login Page</h3> </div>
    <div class="col-md-offset-3 col-md-6">
        
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}

        {% from "_formhelpers.html" import render_field %}
        <form method="POST" action="{{ url_for('login_app.login') }}" role="form">

            {{ form.hidden_tag() }}
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.password, **{"class": "form-control", "aria-described-by": "passwordHelp"}) }}

            <span id="passwordHelp" class="password-help-block"><a href="{{ url_for('password_app.forgotten_password') }}">forgotten password?</a> </span>


            <br><br>
            <button id="login_button" type="submit" class="btn btn-primary">Login</button>

        </form>

    </div>
</div>

{% endblock %}
